/* INDEX */

section {
	min-height: 200px;
}

div {
	display: block;
}

img {
	vertical-align: middle;
	border: 0;
}

form {
	margin-block-end: 1em;
	display: block;
	margin-top: 0em;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-join {
	border-radius: 3px;
	text-align: center;
	background: #cd2028;
	border-color: #cd2028;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.56;
	letter-spacing: 0.5px;
	color: #fff;
	padding: 18px 48px;
}

.btn-white-red {
	width: 100%;
	border-radius: 3px;
	background-color: #ffffff;
	text-align: center;
	border-color: #cd2028;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	color: #cd2028;
	padding: 17px 26px 17px 25px;
}

.btn-show-service {
	border-radius: 3px;
	text-align: center;
	background: #cd2028;
	border-color: #cd2028;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.56;
	letter-spacing: 0.5px;
	color: #fff;
	padding: 18px 48px;
}

.ws-join-left {
	padding-top: 57px;
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.11;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.ws-join-right {
	padding-top: 40px;
	padding-bottom: 40px;
}

.check-fee-icon {
	width: 39px;
	height: 25px;
}

.check-awb-icon {
	width: 32px;
	height: 31px;
}

.__title {
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-top: 77px;
	padding-bottom: 22px;
}

.__sub-title {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #676767;
	margin-bottom: 70px;
}

.ws-home-check {
	background-color: #f9fafb;
}

.ws-home-check-title-left {
	padding-top: 67;
	padding-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

.ws-home-check-title-right {
	padding-top: 67;
	padding-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

.ws-home-check-left label {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}

.ws-home-check-right .label-textarea {
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	color: #C4C4C4;
	padding: 6px;
	position: absolute;
	top: 0;
}

.ws-home-check-right textarea {
	height: 150px;
	max-height: 150px;
	border-radius: 3px;
	border: 1px solid #d2d6de;
}

.ws-home-check-right {
	margin-bottom: 35px;
}

.ws-home-check-left .fare-result {
	margin-top: 35px;
}

.ws-home-check-left .check-form input {
	height: 45px;
	border-radius: 3px;
}

.ws-home-check-left .btn-check {
	background-color: #f1f2f4;
	border: 1px solid #c1c1c1;
	margin-top: 13px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.56;
	padding: 18px 60px;
	border-radius: 3px;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

.ws-home-check-right .btn-track {
	background-color: #f1f2f4;
	border: 1px solid #c1c1c1;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.56;
	padding: 18px 60px;
	border-radius: 3px;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.ws-home-check-left .check-form .input-group-addon {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group .input-group-addon {
	border-radius: 0;
	border-color: #d2d6de;
	background-color: #fff;
}

.input-group-addon:last-child {
	border-left: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
	display: table-cell;
}

.ws-home-check-right .ws-home-notes {
	margin-top: 20px;
	margin-bottom: 45px;
	color: #283842;
	text-align: justify;
	z-index: 344;
	font-weight: 400;
	min-height: 20px;
	position: relative;
}

.form-group {
	margin-right: -15px;
	margin-left: -15px;
}

.ws-home-service {
	background: #f9fafb;
	padding-bottom: 70px;
}

.item-service {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.ws-home-service .item-service a {
	padding: 0 10px;
}

a {
	color: #3c8dbc;
	background-color: transparent;
}

.service-item-title {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.28;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

img.service-img-top {
	position: absolute;
	top: -80px;
	right: 75px;
}

.service-item-line {
	width: 40px;
	height: 3px;
	background-color: #cd2028;
	margin: 0 auto;
	margin-top: 23px;
	margin-bottom: 23px;
}


.service-item-title2 {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: center;
	color: #929292;
}

.item-service img {
	width: 108px;
	height: 117px;
	margin-bottom: 60px;
}

.item-service .service-item {
	padding-top: 40px;
	background: rgba(248, 248, 248, 0.788);
	margin-bottom: 60px;
	margin-top: 60px;
	height: 188px;
	width: 250px;
	max-width: 250px;
	max-height: 188px;
	border-radius: 5px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.fitur-content {
	height: 200px;
}

.fitur-img {
	display: inline;
	margin-bottom: 26px;
	width: 70px;
	height: 70px;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
}

.ws-home-fitur .fitur-title {
	margin-bottom: 14px;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.6;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.fitur-desc {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.ws-home-fitur {
	background: #fff;
	padding-bottom: 50px;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 20px;
	height: 20px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

bottom {
	color: #FFFFFF;
	padding-bottom: 35px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

/* end of index */








/* CEK RESI */

.active {
	background-color: #cd2028;
	padding-bottom: 10px;
}

li .active a {
	color: #ffffff;
}

.check-fee-icon2 {
	width: 35px;
	height: 30px;
}

.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.check-awb-container .title {
	background: #fff;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-top: 77px;
	padding-bottom: 22px;
}

.check-awb-container .check-awb-content {
	background-color: #fff;
	padding: 16px;
	margin-bottom: 50px;
}


.check-awb-container .check-awb-wrapper .btn-wrapper {
	text-align: center !important;
	margin-top: 20px;
}

.check-awb-container .check-awb-wrapper .btn-check {
	border-radius: 3px;
	background-color: #cd2028;
	padding: 17px 60px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.69;
	letter-spacing: normal;
	text-align: center;
	border: none !important;
	color: #ffffff;
}

.nodisp {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

/* end of cekresi */






/* ONGKIR */

.ws-deliveryfee-page .check-form .btn-check {
	border-radius: 3px;
	background-color: #cd2028;
	padding: 17px 60px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.69;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 13px;
}

/* end of ongkir */





/* SERVICE */

.service-title-top {
	background-color: #fff;
}

.service-title-top .title1 {
	background: #fff;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-top: 77px;
	padding-bottom: 22px;
}

.service-title-top .title2 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #676767;
	margin-bottom: 70px;
}

.serv-container .service-wrap {
	display: inline-block;
	margin-top: 80px;
}

.serv-container .service-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.serv-container .service-item-wrap {
	padding: 0 20px;
}

.serv-container .service-item {
	position: relative;
	width: 287px;
	min-height: 433px;
	border-radius: 5px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	margin: 0 auto;
	margin-bottom: 100px !important;
}

.serv-container .service-item img.service-img-top {
	position: absolute;
	top: -81px;
	right: 94px;
	width: 107px;
	height: 118px;
}

.serv-container .service-item .service-item-top {
	height: 166px;
	padding-top: 43px;
	border-radius: 5px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: #f9fafb;
}

.serv-container .service-item .service-item-top .service-item-title {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.28;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.serv-container .service-item .serv-line {
	width: 34px;
	height: 3px;
	background-color: #d0021b;
	margin: 0 auto;
	margin-top: 23px;
	margin-bottom: 23px;
}

.serv-container .service-item .service-item-top .service-item-title2 {
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: center;
	color: #676767;
}

.serv-container .service-item .service-item-body {
	padding: 1px 26px 0 26px;
}

.serv-container .service-wrap {
	display: inline-block;
	margin-top: 80px;
}

.serv-container ul {
	content: "";
	display: table;
	clear: both;
	margin: 0;
	padding: 0;
}

.serv-container li {
	list-style-type: none;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.serv-container .service-item.big-item {
	width: 480px !important;
	min-height: 531px !important;
	margin-top: 100px !important;
	padding-bottom: 20px;
}

.serv-container .service-item.service-item.big-item .big-item-title {
	position: absolute;
	font-size: 19px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.89;
	letter-spacing: normal;
	color: #000000;
	width: 480px;
	margin-top: -140px;
}

.serv-container .service-item.big-item .service-item-top {
	height: 196px !important;
	padding-top: 61px !important;
}

.serv-container .service-item.big-item .service-item-top .service-item-title {
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.96;
	letter-spacing: normal;
	text-align: center;
	color: #5476e6;
}

.serv-container .service-item.big-item .serv-line {
	background: #000;
	margin-top: 30px;
	margin-bottom: 35px;
}

.serv-container .service-item.big-item .service-item-top .service-item-title2 {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	text-align: center;
	color: #db5454;
}

.serv-container .service-item .service-item-body {
	padding: 1px 26px 0 26px;
}

.serv-container .service-item .service-item-body tr td:first-child {
	padding-right: 27px;
}

.serv-container .service-item .service-item-body td {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	color: #4a4a4a;
	vertical-align: top;
	padding-top: 23px;
}

.serv-container .service-item .service-item-body tr td img {
	width: 18.9px;
	height: 18.5px;
}

.serv-container li {
	list-style-type: none;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.serv-container .service-item.big-item {
	width: 480px !important;
	min-height: 531px !important;
	margin-top: 100px !important;
	padding-bottom: 20px;
}

.serv-container .service-item table td li {
	list-style-position: outside;
	margin-left: 1.3em;
	list-style-type: square !important;
	margin-top: 10px;
}

.serv-container .btn-join-service {
	border-radius: 3px;
	background-color: #d0021b;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.69;
	letter-spacing: 0.5px;
	text-align: center;
	color: #ffffff;
	padding: 17px 25px;
}

.serv-container .service-item.big-item img.service-img-top {
	top: -81px !important;
	right: 193px !important;
}

/* end of service */







/* LOKASI */

.ws-location-page .location-title {
	background: #fff;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-top: 77px;
	padding-bottom: 22px;
}

.ws-location-page .location-sub-title {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #676767;
	margin-bottom: 70px;
}

.ws-location-page .location-content .nav-pills {
	background-color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin: auto;
}

.nav-justified {
	width: 100%;
}

.ws-location-page .location-content .nav>li.active {
	border-top-color: #fff;
	background-color: #fff;
}

.nav-justified>li {
	display: table-cell;
	width: 1%;
}

.nav-justified>li {
	float: none;
}

/* end of lokasi */










/* CONTACT*/

.contact-icon {
	width: 24px;
}

.ws-contact-page .contact-title {
	background: #fff;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-top: 77px;
	padding-bottom: 22px;
}

.ws-contact-page .contact-address .contact-address-list td {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-right: 23px;
	vertical-align: top;
}

.ws-contact-page .contact-sub-title {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #676767;
	margin-bottom: 70px;
}

form.label-inside .contact-label {
	position: relative;
	z-index: 1;
	top: 33;
	left: 15;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	line-height: 0.93;
	letter-spacing: normal;
	color: #c1c1c1;
}

form.label-inside input {
	height: 43px;
	border-radius: 3px;
	border-color: #d8d8d8;
}

.ws-contact-page .contact-content .btn-check {
	background-color: #f1f2f4;
	border: 1px solid #c1c1c1;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.56;
	padding: 18px 60px;
	border-radius: 3px;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

/* end of contact */


/* SLIDER */

.ws-home-fitur {
	background: #fff;
	padding-bottom: 50px;
}

.ws-home-fitur .fitur-content {
	height: 200px;
}

.ws-home-fitur .fitur-img {
	display: inline;
	margin-bottom: 26px;
	width: 70px;
	height: 70px;
}

.ws-home-fitur .fitur-title {
	margin-bottom: 14px;
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.6;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.ws-home-fitur .fitur-desc {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: center;
	color: #4a4a4a;
}

.ws-home-fitur .fitur-arrow-left {
	position: relative;
	top: -115px;
}

.ws-home-fitur .fitur-arrow-right {
	position: relative;
	top: -115px;
	float: right;
}

.ws-home-fitur .slick-initialized .slick-slide {
	outline: none !important;
}

.ws-home-fitur .slick-prev {
	left: 0px;
	margin-top: -15px;
}

.ws-home-fitur .slick-next {
	right: 15px;
	margin-top: -15px;
}

.ws-home-fitur .slick-prev:before,
.ws-home-fitur .slick-next:before {
	color: #d0021b !important;
	line-height: 0 !important;
	font-size: 35px;
}
