/* FOOTER CSS */


.footer-icon {
	width: 21px;
}

.ws-store-menu {
	margin-bottom: 20px;
}

.store-icon {
	width: 118px;
}

.ws-footer-page {
	background-color: #283842;
}

.ws-footer-page .ws-footer-top {
	background-color: #cd2028;
	color: #ffffff;
	padding-top: 30px;
}

.ws-store-title {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	margin-top: 30px;
	margin-bottom: 30px;
}

.ws-footer-menu {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	margin-top: 30px;
	margin-bottom: 30px;
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.ws-menu-list {
	font-size: 12px;
	font-weight: normal;
	list-style-type: none;
	padding: 0px;
}

.ws-menu-list li {
	margin-bottom: 15px;
}

.ws-menu-list li a {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
}

.contact-address-list td {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	padding-top: 0px;
	padding-bottom: 20px;
	vertical-align: top;
}

.ws-footer-divider {
	min-width: 100%;
	background: #fff;
	opacity: 0.15;
	min-height: 2px;
	margin-top: 45px;
	margin-bottom: 25px;
}
