/* NAVBAR CSS */

.ws-header-container .navbar li.active a {
	color: #fff;
}

.ws-header-container .navbar a {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: normal;
	color: #4a4a4a;
}

.navbar-nav>li>a {
	padding-top: 19px;
	padding-bottom: 19px;
	line-height: 20px;
	
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}



.active {
	background-color: #cd2028;


}

.nav>li>a {

	margin-top: 22px;
	margin-bottom: 15px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: white;
}

li .active a {
	color: #ffffff;
}

@media (max-width: 991.98px) { 
	.hotilang {
		display: none;
	}
 }